.birthday {

    
    padding: 10px 14px;
    margin: 15px 10px 32px;

    h1 {
        padding: 30px 40px;
        background: whitesmoke;
    }
      
    
    .birthday-sub {
        background: rgb(239, 243, 245);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
        h2 {
            padding: 10px 20px;
            text-transform: uppercase;
            justify-content: center;
            text-align: center;
            color: rgb(83, 83, 175);
            margin: 0px 10px;
        }
}