.employees {
    h1 {
        padding: 30px 40px;
        background: whitesmoke;
    }

    .employeesTable {
        background: rgb(239, 243, 245);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px 14px;
        margin: 15px 10px 32px;
    }
}