.adminsidebar {
    display: block;
    position: fixed;
    top: 30px;
    width: 200px;
    padding: 0;
    margin: 0;
    background: rgb(84, 147, 177);
    height: 95vh;

    h2 {
        padding: 30px 40px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    ul {
        padding: 0;

        li {
            width: 100%;

            a, span {
                display: block;
                width: 100%;
                padding: 1.8rem;
                font-size: 16px;
                line-height: 1;
                color: white;
                cursor: pointer;
            }

            &:hover {
                background-color: grey;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .adminsidebar {
        position: fixed;
        top: 30px;
        width: 100px;
        height: 95vh;

        h2 {
            padding: 10px 20px;
            margin: 0;
            font-size: 14px;
        }

        ul {
            padding: 0;
    
            li {
    
                a, span {
                    padding: 1.2rem;
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 330px) {
    .adminsidebar {
        top: 30px;
        width: 75px;
        height: 95vh;

        h2 {
            padding: 8px 14px;
            margin: 0;
            font-size: 12px;
        }

        ul {
            padding: 0;
    
            li {
    
                a, span {
                    padding: 1rem;
                    font-size: 9px;
                }
            }
        }
    }
}