.footer {

    .footer-sub {
        background: black;
        width: 100%;
        position: absolute;
        max-width: 1850px;
        height: 150px;
        bottom: 0;

        .font-icon {
            color: grey;
            font-size: 14px;
            text-transform: capitalize;
            top: 20px;
            margin-left: 50px;
        }

        .rights {
            display: flex;
            color: grey;
            font-size: 14px;
            text-transform: capitalize;
            margin-left: 50px;
        }
    }
}

@media only screen and (max-width: 380px) {
    .footer-sub {
        height: 100px;
    }
}