html {
    font-size: 10px;
}

html, 
body {
    margin: 0;
    padding: 0;
    background: url("Promo-Facebook-Event Cover.jpeg");
}

html,
body,
#root,
.App,
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



td {
    color: rgb(36, 35, 35);
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
    text-transform: capitalize;
    font-family: Roboto Slab;
}

tr {
    padding: 20px 40px;
    margin: 20px 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a, a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


h1 {
    line-height: 1;
    color: black;
    display: block;
    padding: 0 12px;
    font-size: 30px;
    font-weight: 400;
    font-family: Roboto Slab;
    margin: 0 auto 20px;
    width: 100%;
    text-transform: uppercase;
}

h2 {
    line-height: 1;
    color: black;
    display: block;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Noto Sans JP;
    margin: 0 auto 10px;
    width: 100%;
    text-transform: capitalize;
}

h3 {
    line-height: 1;
    color: black;
    display: block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: Noto Sans JP;
    margin: 0 auto 10px;
    width: 100%;
    text-transform: capitalize;
}

p {
    color: rgb(78, 76, 76);
    display: block;
    padding: 1px 5px;
    font-size: 12px;
    font-family: Roboto Slab;
    text-transform: capitalize;
    width: 100%;
}

h4 {
    color: rgb(95, 93, 93);
    padding: 1px 5px;
    font-size: 12px;
    font-family: Roboto Slab;
    text-transform: capitalize;
    width: 100%;
}

label {
    color: rgb(43, 40, 40);
    display: block;
    padding: 1px 5px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controlPanel {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    padding: 30px 0 60px 200px;

    .sidebar {
        position: absolute;
        top: 0; left: 0;
        width: 200px;
        height: 100%;
        z-index: 1;
    }

    .content {
        padding: 0 10px;
    }
}

.mainLay {
    width: 100%;
    height: calc(100% - 10rem);
    max-width: 1450px;
    padding: 0 10px;
    margin: 0 auto;
}

.adminLay {
    height: calc(100% - 100px - 100px - 10px);
}

