.userProfile {

    .search {
        display: flex;
        justify-content: space-around;

        .search-input {
            width: 50%;
        }
        .search-select {
            margin-top: 50px;
        }
    }
}

@media only screen and (max-width: 540px) {

    .userProfile {

        h1 {
            font-size: 21px;
        }
    }
}

@media only screen and (max-width: 340px) {

    .userProfile {

        h1 {
            font-size: 19px;
        }
    }
}