.form {
    
    input {
        display: flex;
        padding: 10px 8px;
        width: 100%;
        border: 1px solid gray;
        text-align: left;
        margin: 10px auto;
        font-size: 14px;
        font-weight: 300;
        font-family: Nunito Sans;
        outline: none;
    }
}